{% extends "::base.html.twig" %}
{% block title %}Neues Restaurant{% endblock %}
{% block body %}
    <div id="body">
        <div id="newRestaurantMap">

        </div>
        <div id="newRestaurantForm">
            <div class="RestaurantImage">
                <label for="image" class="image-auswahl">
                    <div class="image-auswahl-plus"><i class="fa fa-plus"></i></div>
                    <p class="image-auswahl-text">W&aumlhlen Sie eine Musikdatei aus</p>
                    <input type="file" class="image-auswahl-input">
                </label>
            </div>
            <br>
            <input type="text" name="newRestaurantInput" placeholder="Restaurantname">
            <br>
            <input type="text" name="newRestaurantInput" placeholder="Strasse">
            <input type="text" name="newRestaurantInput-streetnumber" placeholder="Strassennummer">
            <br>
            <input type="text" name="newRestaurantInput-plz" placeholder="PLZ">
            <input type="text" name="newRestaurantInput" placeholder="Ort">
            <br>
            <button type="submit">Restaurant eintragen</button>
        </div>
    </div>
{% endblock %}