{% extends "::base.html.twig" %}
{% block title %}Neues Restaurant{% endblock %}
{% block body %}
    <div id="body">
        <div id="newRestaurantMap">

        </div>
        <div id="slideButton">
            <i class="fa fa-sort-desc" id="slider"></i>
        </div>
        <form action="{{ path('newRestaurant') }}" method="post" enctype="multipart/form-data">
            <div id="newRestaurantForm">
                <div class="RestaurantImage">
                    <label for="image" class="image-auswahl">
                        <div class="image-auswahl-plus"><i class="fa fa-plus"></i></div>
                        <p class="image-auswahl-text">W&aumlhlen Sie ein Bild aus</p>
                        <input type="file" class="image-auswahl-input" name="restaurantImage">
                    </label>
                </div>
                <br>
                <input type="text" class="form-name" name="restaurantname" placeholder="Restaurantname">
                <br>
                <input type="text" class="form-street" name="restaurantstreet" placeholder="Strasse">
                <input type="text" class="form-streetnumber" name="restaurantstreetnum" placeholder="Strassennummer">
                <br>
                <input type="text" class="form-plz" name="restaurantplz" placeholder="PLZ">
                <input type="text" class="form-place" name="restaurantplace" placeholder="Ort">
                <br>
                <input type="text" class="form-lat" name="restaurantlat" placeholder="Latitude">
                <br>
                <input type="text" class="form-lng" name="restaurantlng" placeholder="Longitude">
                <br>
                <button type="submit" class="RestaurantEintragen">Restaurant eintragen</button>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/getInfoMap.js') }}"></script>
{% endblock %}