{% extends "::base.html.twig" %}
{% block title %}Neues Restaurant{% endblock %}
{% block body %}
    <div id="body">
        <div id="newRestaurantMap">

        </div>
        <div id="newRestaurantForm">
            <div class="RestaurantImage">
                <label for="image" class="image-auswahl">
                    <div class="image-auswahl-plus"><i class="fa fa-plus"></i></div>
                    <p class="image-auswahl-text">W&aumlhlen Sie eine Musikdatei aus</p>
                    <input type="file" class="image-auswahl-input">
                </label>
            </div>
            <br>
            <input type="text" class="form-name" placeholder="Restaurantname">
            <br>
            <input type="text" class="form-street" placeholder="Strasse">
            <input type="text" class="form-streetnumber" placeholder="Strassennummer">
            <br>
            <input type="text" class="form-plz" placeholder="PLZ">
            <input type="text" class="form-place" placeholder="Ort">
            <br>
            <button type="submit" class="RestaurantEintragen">Restaurant eintragen</button>
        </div>
    </div>
{% endblock %}