#newRestaurantMap {
    display: block;
    background-color: white;
    margin-top: 50px;
    margin-left: 30%;
    height: 200px;
    width: 40%;
    text-align: center;
}
#slideButton {
    position: absolute;
    right: 30%;
    top: 260px;
    font-size: 20px;
    color: #04B431;
}
#newRestaurantForm {

    display: none;
}
div.RestaurantImage {
    margin-left: 40%;
    width: 20%;
    height: 120px;
    transition: 1s;
}
label.image-auswahl {
    margin-left: 40%;
    width: 20%;
    height: 120px;
    border: 1px solid #424242;
    position: absolute;
    left: 0;
}
div.image-auswahl-plus {
    color: #424242;
    position: absolute;
    width: 100%;
    line-height: 120px;
    vertical-align: middle;
    font-size: 40px;
    visibility: hidden;
}
p.image-auswahl-text {
    color: #000000;
    position: absolute;
    width: 100%;
    line-height: 120px;
    top: -16px;
}
input.image-auswahl-input {
    opacity: 0;
    width: 100%;
    height: 120px;
}
div.RestaurantImage:hover p.image-auswahl-text {
    visibility: hidden;
}
div.RestaurantImage:hover div.image-auswahl-plus {
    visibility: visible;
}
div.RestaurantImage:hover {
    background-color: #04B431;
}

input.form-name {
    width: 20%;
    margin-left: 0;
    margin-top: 5px;
    border: 1px solid #045FB4;
    background-color: #D8D8D8;
    height: 30px;
    border-radius: 2px;
}
input.form-street {
    width: 15%;
    margin-left: 0;
    margin-top: 5px;
    border: 1px solid #045FB4;
    background-color: #D8D8D8;
    height: 30px;
    border-radius: 2px;
}
input.form-streetnumber {
    width: 4%;
    margin-right: 0;
    margin-top: 5px;
    border: 1px solid #045FB4;
    background-color: #D8D8D8;
    height: 30px;
    border-radius: 2px;
}
input.form-plz {
    width: 4%;
    margin-left: 0;
    margin-top: 5px;
    border: 1px solid #045FB4;
    background-color: #D8D8D8;
    height: 30px;
    border-radius: 2px;
}
input.form-place {
    width: 15%;
    margin-right: 0;
    margin-top: 5px;
    border: 1px solid #045FB4;
    background-color: #D8D8D8;
    height: 30px;
    border-radius: 2px;
}
button.RestaurantEintragen {
    margin-top: 10px;
    background-color: #045FB4;
    border: 2px solid grey;
    border-radius: 1000px;
    height: 50px;
    width: 200px;
    color: #000000;
}